<div class="row top-spacer"></div>
<!--TODO: Consider placing within own component-->
<nav class="navbar navbar-expand-sm top-nav">
    <a class="navbar-brand">
        <div class="row logo">
            <img src="../../../Content/Images/gw_logo2.png" />
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"></ul>
        <div class="navbar-text">
            <span>Welcome {{username}}</span>
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active" *ngIf="!isLoggedIn">
                    <a [routerLink]="['register']">Register</a>
                </li>
                <li routerLinkActive="active" *ngIf="!isLoggedIn; else elseBlock">
                    <a [routerLink]="['login']">Login</a>
                </li>
                <ng-template #elseBlock>
                    <li>
                        <a (click)="onLogout()">Logout</a>
                    </li>
                </ng-template>
                <!--<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>-->
            </ul>
        </div>
    </div>
</nav>
<div class="row-fluid">
    <app-left-ribbon></app-left-ribbon>
    <div class="col-sm-10 main-content">
        <router-outlet></router-outlet>
    </div>
</div>
