body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 45px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background-image: url(../../Content/Images/gf_bg-texture.png);
}

ul {
    list-style-type: none;
}

    ul li a {
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

ul.nav > li {
    padding: 10px;
}

div.side-ribbon {
    background-image: linear-gradient(to right, #e6e6e6, #ffffff, #e6e6e6);
    height: 100%;
    box-shadow: 10px 0px 25px #888888;
    position: fixed;
    top: 0px;
    z-index: 99998;
}

div.side-ribbon-content {
    margin-top: 170px;
}

nav.top-nav {
    top: 45px;
    background-image: linear-gradient(to bottom, #e6e6e6, #ffffff, #e6e6e6);
    z-index: 99999;
    box-shadow: 10px 0px 8px #888888;
    height: 110px;
    position: fixed;
    width: 100%;
}

div.logo img {
    height: 165px;
    position: relative;
    left: -15px;
    z-index: 99999;
}

div.main-content {
    margin-left: 215px;
    margin-top: 125px;
}

/* Override default navbar-right margin */
.navbar-right {
    margin-right: 0px;
}

.col-sm-12.alpha-card {
    background-color: rgba(238, 238, 238, 0.7);
    padding: 10px;
}

div.top-spacer {
    z-index: 99997;
    height: 45px;
    background-image: url(../../Content/Images/gf_bg-texture.png);
    background-position-x: 15px;
    top: 0px;
    position: fixed;
    background-color: blue;
    width: 100%;
}

