<div class="row">
    <div class="col-sm-6 alpha-card mx-auto">
        <h5>Please Register</h5>
        <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
            <div class="form-group">
                <label for="email">Email: </label>
                <input id="email"
                       class="form-control"
                       type="text"
                       name="email"
                       formControlName="email" />
                <div 
                     class="alert alert-danger" 
                     *ngIf="registerForm.get('email').errors?.required === true 
                     && registerForm.get('email').touched">Email is required.</div>
                <label for="password">Password: </label>
                <input id="password"
                       class="form-control"
                       type="password"
                       name="password"
                       formControlName="password" />
                <div
                     class="alert alert-danger"
                     *ngIf="registerForm.get('password').errors?.required === true &&
                     registerForm.get('password').touched">
                    Password is required.
                </div>
                <label for="confpass">Confirm Password: </label>
                <input id="confpass"
                       class="form-control"
                       type="password"
                       name="confpass"
                       formControlName="confPass" />
                <div
                     class="alert alert-danger"
                     *ngIf="registerForm.get('confPass').errors?.required === true &&
                     registerForm.get('confPass').touched">
                    Confirm Password is required.
                </div>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
